// Place all the styles related to the physicians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p span.patient-name {
    padding: 2px 4px;
    font-size: 90%;
    color: #00f;
    background-color: #d5e9f6;
    border-radius: 4px;
    margin: 0px 4px;
}
